- get_word = @all_words.sample
- word = get_word.gsub(/./){|s| s.send(%i[upcase downcase].sample)}

%p
  arrange this alphabeth to be true word:
  = word
%p
  Jawab:
= simple_form_for :play, url: plays_path, method: :get do |f|
  = f.input :guess
  = f.hidden_field :keyword, value: "#{get_word}"
  = f.button :submit, "submit"

- if flash[:success]
  = flash[:success]
- else
  = flash[:danger]
